In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [3]:
df = pd.read_excel('../data/raw/online_retail_II.xlsx', sheet_name="Year 2010-2011")

In [5]:
df.shape

(541910, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  datetime64[ns]
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [9]:
df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,541910.000000,541910,541910.000000,406830.000000
mean,9.552234,2011-07-04 13:35:22.342307584,4.611138,15287.684160
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.080957,NaN,96.759765,1713.603074

In [11]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [13]:
date_min = df['InvoiceDate'].min()
date_max = df['InvoiceDate'].max()

print("Date Range:", date_min, "to", date_max)

Date Range: 2010-12-01 08:26:00 to 2011-12-09 12:50:00

In [17]:
unique_customers = df['Customer ID'].nunique()
unique_customers

4372

In [21]:
missing_ids = df['Customer ID'].isnull().mean() * 100
missing_ids

24.92664833643963

In [23]:
df['Quantity'].describe()

count    541910.000000
mean          9.552234
std         218.080957
min      -80995.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       80995.000000
Name: Quantity, dtype: float64

In [25]:
(df['Quantity'] < 0).sum()

10624

In [31]:
cancelled = df['Invoice'].astype(str).str.startswith('C').sum()
cancelled

9288

In [33]:
df[df['Quantity'] > 500].head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
730,536437,17021,NAMASTE SWAGAT INCENSE,600,2010-12-01 12:12:00,0.24,13694.0,United Kingdom
3917,536736,22616,PACK OF 12 LONDON TISSUES,600,2010-12-02 12:59:00,0.29,17381.0,United Kingdom
4850,536809,84950,ASSORTED COLOUR T-LIGHT HOLDER,1824,2010-12-02 16:48:00,0.55,15299.0,United Kingdom
4945,536830,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,2880,2010-12-02 17:38:00,0.18,16754.0,United Kingdom
4946,536830,21915,RED HARMONICA IN BOX,1400,2010-12-02 17:38:00,1.06,16754.0,United Kingdom

In [39]:
data_quality_summary = {
    'Total Rows': len(df),
    'Total Columns': len(df.columns),
    'Missing Values': int(df.isnull().sum().sum()),
    'Duplicate Rows': int(df.duplicated().sum()),
    'Date Range': f"{df['InvoiceDate'].min()} to {df['InvoiceDate'].max()}",
    'Unique Customers': int(df['Customer ID'].nunique()),
    'Missing CustomerIDs %': round(df['Customer ID'].isnull().mean()*100,2),
    'Negative Quantities': int((df['Quantity'] < 0).sum()),
    'Cancelled Invoices': int(df['Invoice'].astype(str).str.startswith('C').sum()),
}
data_quality_summary

{'Total Rows': 541910,
 'Total Columns': 8,
 'Missing Values': 136534,
 'Duplicate Rows': 5268,
 'Date Range': '2010-12-01 08:26:00 to 2011-12-09 12:50:00',
 'Unique Customers': 4372,
 'Missing CustomerIDs %': 24.93,
 'Negative Quantities': 10624,
 'Cancelled Invoices': 9288}

In [41]:
import json
with open('../data/raw/data_quality_summary.json', 'w') as f:
    json.dump(data_quality_summary, f, indent=4, default=str)

## Observations
- dataset contains 8 columns
- missing values in Customer ID and Description
- numeric fields are Customer ID, Quantity and Price